@{
    Layout = null;
}
@model WebApplication1.Models.Employee
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <form action="/employee/update/@Model.ID" method="post">
            <table>
                <tr>
                    <td>FirstName</td>
                    <td><input type="text" name="FirstName" value="@Model.FirstName" /></td>
                </tr>
                <tr>
                    <td>LastName</td>
                    <td><input type="text" name="LastName" value="@Model.LastName" /></td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td><input type="text" name="Gender" value="@Model.Gender" /></td>
                </tr>
                <tr>
                    <td>Salary</td>
                    <td><input type="text" name="Salary" value="@Model.Salary" /></td>
                </tr>
            </table>
            <button type="submit">Update</button>
        </form>
    </div>
</body>
</html>
